spring:
  application:
    name: SBA301_ComputerShop

  # ===============================
  # DATABASE (MYSQL)
  # ===============================
  datasource:
    url: jdbc:mysql://localhost:3306/test?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh&characterEncoding=utf8
    username: test
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000

  # ===============================
  # JPA / HIBERNATE
  # ===============================
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: false

# ===============================
# JWT CONFIG (MAP FROM .env)
# ===============================
jwt:
  signer-key: ${JWT_SIGNER_KEY}
  valid-duration: ${JWT_VALID_DURATION}
  refreshable-duration: ${JWT_REFRESHABLE_DURATION}

# ===============================
# SERVER
# ===============================
server:
  port: 8080
  servlet:
    context-path: /api


# ===============================
# LOGGING
# ===============================
logging:
  level:
    root: INFO
    org:
      hibernate:
        SQL: OFF
      springframework:
        web: INFO
